.idea
node_modules
public/dist
*.log
.DS_Store

variables.env
variables.env.now

# Some Trickery to keep the sample data photos in this folder, but not allow new ones to enter git
public/uploads/*
!*.gitkeep
!public/uploads/store.png
!public/uploads/0d3624fc-78ee-4297-8d15-e191b9775520.jpeg


















