extends layout

block content
    .inner
        form.form(action="/register" method="POST")
            - const model = body || {}
            h2 Register
            label(for="name") Name
            input(type="text" name="name" value=model.name)
            label(for="email") Email
            input(type="email" name="email" value=model.email)
            label(for="password") Password
            input(type="password" name="password" value=model.password)
            label(for="password-confirm") Confirm Password
            input(type="password" name="password-confirm" value=model["password-confirm"])
            input.button(type="submit" value="Register -<")